@font-face {
    font-family: candy-cane;
    src: url(fonts/candy_cane/Candcu__.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid grey;
    background-image: url("Pics/94-wintersnow.jpg");
    background-size: cover;
}

.logo {
    height: 50px;
    margin-right: 2%;
}

.brand {
    font-family: candy-cane;
}


@media screen and (min-width: ) {
    
}